.Navbar{
    /* justify-content: space-between; */
    
        display: flex;
        flex-wrap: wrap; /* Allows buttons to wrap to the next line */
        justify-content:center;
        background-color: #DAA520; /* Gold color */
        width: 100%;
        height: 5vh;
        
        
      }
   /* display: flex;
   flex-wrap: wrap;
   overflow: auto; */